In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
fuel_data = pd.read_csv('fuel_ferc1.csv')

In [3]:
print(fuel_data.head(10))

                record_id  utility_id_ferc1  report_year  \
0   f1_fuel_1994_12_1_0_7                 1         1994
1  f1_fuel_1994_12_1_0_10                 1         1994
2   f1_fuel_1994_12_2_0_1                 2         1994
3   f1_fuel_1994_12_2_0_7                 2         1994
4  f1_fuel_1994_12_2_0_10                 2         1994
5  f1_fuel_1994_12_2_0_13                 2         1994
6   f1_fuel_1994_12_2_1_1                 2         1994
7  f1_fuel_1994_12_2_1_10                 2         1994
8  f1_fuel_1994_12_2_2_10                 2         1994
9   f1_fuel_1994_12_4_0_1                 4         1994

       plant_name_ferc1 fuel_type_code_pudl fuel_unit  fuel_qty_burned  \
0              rockport                coal       ton        5377489.0
1  rockport total plant                coal       ton       10486945.0
2                gorgas                coal       ton        2978683.0
3                 barry                coal       ton        3739484.0
4             chickasaw                 gas       mcf          40533.0
5   e. c. gaston-unit 5                coal       ton        2124933.0
6      joseph m. farley             nuclear       kgU           2260.0
7   resondent's portion                coal       ton        5372133.0
8  respondent's portion                coal       ton         817520.0
9             units 1-3                coal       ton        1471233.0

   fuel_mmbtu_per_unit  fuel_cost_per_unit_burned  \
0            16.590000                      18.59
1            16.592000                      18.58
2            24.130000                      39.72
3            23.950000                      47.21
4             1.000000                       2.77
5            23.922000                      44.24
6             0.064094                      28.77
7            24.840000                      58.54
8            24.290000                      33.97
9            22.484000                      28.73

   fuel_cost_per_unit_delivered  fuel_cost_per_mmbtu
0                         18.53                1.121
1                         18.53                1.120
2                         38.12                1.650
3                         45.99                1.970
4                          2.77                2.570
5                         43.25                1.850
6                          0.00                0.450
7                         55.13                2.360
8                         34.65                1.400
9                         28.11                1.278

In [15]:
# average of type gases
# the average of each of coal, gas, waste, oil - save into a series
fuel_data_coal=fuel_data.loc[fuel_data['fuel_type_code_pudl'] == "coal"]
fuel_data_coal_mean=fuel_data_coal['fuel_cost_per_unit_burned'].mean()

# gas
fuel_data_gas=fuel_data.loc[fuel_data['fuel_type_code_pudl'] == "gas"]
fuel_data_gas_mean=fuel_data_gas['fuel_cost_per_unit_burned'].mean()
# print(fuel_data_gas_mean)
# output = pd.Series.append([fuel_data_gas_mean], index=["gas"])

# waste
fuel_data_waste=fuel_data.loc[fuel_data['fuel_type_code_pudl'] == "waste"]
fuel_data_waste_mean=fuel_data_waste['fuel_cost_per_unit_burned'].mean()
# print(fuel_data_waste_mean)

# oil
fuel_data_oil=fuel_data.loc[fuel_data['fuel_type_code_pudl'] == "oil"]
fuel_data_oil_mean=fuel_data_oil['fuel_cost_per_unit_burned'].mean()
# print(fuel_data_oil_mean)

#save to a series and get minimum
output = pd.Series([fuel_data_coal_mean,fuel_data_gas_mean,fuel_data_waste_mean,fuel_data_oil_mean ], index=["coal", "gas","waste","oil"])
print(output)

# minimum value using the min method
print(output.min())

coal      67.421830
gas       13.659397
waste     19.518122
oil      168.877086
dtype: float64
13.659396569737071

In [18]:
# standard deviation using .std() method and rounds to 2 decimal places
standard_dev= np.round(fuel_data['fuel_mmbtu_per_unit'].std(), decimals=2)
# 75h percential using the quamtile() method a
perf=np.round(fuel_data['fuel_mmbtu_per_unit'].quantile(.75), decimals=2)

print(standard_dev,perf)

10.6 17.01

In [19]:
# skewness 
skew1=np.round(fuel_data.skew()['fuel_qty_burned'], decimals=2)
print(skew1)
# kurtosis
kurs=np.round(fuel_data.kurtosis()['fuel_qty_burned'], decimals=2)
print(kurs)

15.85
651.37

In [21]:
# Which year has the highest average fuel cost per unit delivered?
print(fuel_data.columns)

Index(['record_id', 'utility_id_ferc1', 'report_year', 'plant_name_ferc1',
       'fuel_type_code_pudl', 'fuel_unit', 'fuel_qty_burned',
       'fuel_mmbtu_per_unit', 'fuel_cost_per_unit_burned',
       'fuel_cost_per_unit_delivered', 'fuel_cost_per_mmbtu'],
      dtype='object')

In [49]:
# find the missing features
# returns missing feature
print(fuel_data.columns[fuel_data.isnull().any()])
# returns all missing rows count
null_data = fuel_data[fuel_data.isnull().any(axis=1)]
# print(null_data.count())
percentage = (null_data.count()/fuel_data.count()) * 100
print(np.round(percentage, decimals=3))

Index(['fuel_unit'], dtype='object')
record_id                       0.61
utility_id_ferc1                0.61
report_year                     0.61
plant_name_ferc1                0.61
fuel_type_code_pudl             0.61
fuel_unit                       0.00
fuel_qty_burned                 0.61
fuel_mmbtu_per_unit             0.61
fuel_cost_per_unit_burned       0.61
fuel_cost_per_unit_delivered    0.61
fuel_cost_per_mmbtu             0.61
dtype: float64

In [42]:
cor = fuel_data.corr()
print(cor)

                              utility_id_ferc1  report_year  fuel_qty_burned  \
utility_id_ferc1                      1.000000     0.093323        -0.057447
report_year                           0.093323     1.000000         0.012952
fuel_qty_burned                      -0.057447     0.012952         1.000000
fuel_mmbtu_per_unit                  -0.066946    -0.110853        -0.080946
fuel_cost_per_unit_burned            -0.037863     0.013599        -0.018535
fuel_cost_per_unit_delivered         -0.016414    -0.014043        -0.003551
fuel_cost_per_mmbtu                   0.006122     0.010261        -0.001896

                              fuel_mmbtu_per_unit  fuel_cost_per_unit_burned  \
utility_id_ferc1                        -0.066946                  -0.037863
report_year                             -0.110853                   0.013599
fuel_qty_burned                         -0.080946                  -0.018535
fuel_mmbtu_per_unit                      1.000000                  -0.010034
fuel_cost_per_unit_burned               -0.010034                   1.000000
fuel_cost_per_unit_delivered            -0.009039                   0.011007
fuel_cost_per_mmbtu                     -0.005884                  -0.000437

                              fuel_cost_per_unit_delivered  \
utility_id_ferc1                                 -0.016414
report_year                                      -0.014043
fuel_qty_burned                                  -0.003551
fuel_mmbtu_per_unit                              -0.009039
fuel_cost_per_unit_burned                         0.011007
fuel_cost_per_unit_delivered                      1.000000
fuel_cost_per_mmbtu                              -0.000109

                              fuel_cost_per_mmbtu
utility_id_ferc1                         0.006122
report_year                              0.010261
fuel_qty_burned                         -0.001896
fuel_mmbtu_per_unit                     -0.005884
fuel_cost_per_unit_burned               -0.000437
fuel_cost_per_unit_delivered            -0.000109
fuel_cost_per_mmbtu                      1.000000

In [27]:
# average cost per unit delivered for each year will be mean of all the costs
# get ean for each of 1997, 2004, 1996, 2009, 2018
fuel_data_1997 = fuel_data.loc[fuel_data['report_year'] == 1997]
fuel_data_1997_mean=fuel_data_1997['fuel_cost_per_unit_delivered'].mean()
# 2004
fuel_data_2004 = fuel_data.loc[fuel_data['report_year'] == 2004]
fuel_data_2004_mean=fuel_data_2004['fuel_cost_per_unit_delivered'].mean()
# 1996
fuel_data_1996 = fuel_data.loc[fuel_data['report_year'] == 1996]
fuel_data_1996_mean=fuel_data_1996['fuel_cost_per_unit_delivered'].mean()
# 2009
fuel_data_2009 = fuel_data.loc[fuel_data['report_year'] == 2009]
fuel_data_2009_mean=fuel_data_2009['fuel_cost_per_unit_delivered'].mean()
# 2018
fuel_data_2018 = fuel_data.loc[fuel_data['report_year'] == 2018]
fuel_data_2018_mean=fuel_data_2018['fuel_cost_per_unit_delivered'].mean()

#save to a series and get minimum
output = pd.Series([fuel_data_1997_mean,fuel_data_1996_mean,fuel_data_2004_mean,fuel_data_2009_mean,fuel_data_2018_mean ], index=[1997, 1996, 2004, 2009, 2018])
print(output)

# minimum value using the min method
print(output.min())

1997    11140.197239
1996     9196.705948
2004      139.524275
2009      652.694163
2018      499.269966
dtype: float64
139.52427516778525